body {
    background-color: grey;
    font-family: Impact;

}

body, html{
    margin: 0;
    height: 100%;
}
h1 {
    display: flex;
    justify-content: center;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

li a {
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    width: 60px;
}
li a:hover {
    background-color: gold;
}

.sidebar-icons{
    width: 60px;
    border: 0px;
}

.moving-photos{
    background-size: cover;
    background-position: center center;
    float: left;
    width: 500px;    
    height: 969px;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    transition: transform .5s ease;
}
.moving-photos:hover{   
    transform: scale(1.25); 
}
