body{
    margin: 0;
    background-image: url(toolbardown.gif);  
    font-family: monospace;
    color: white;
    background-size: cover;
    background-position: center center; 
}

html, body {
    margin: 0;
    height: 95%;
}

.box-for-image{
    width: 25%;
    margin: 20px;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block; 
}

.box-for-image a{
    text-decoration: none;
}

.photoOne{
    display: block;
    background-image: url(me.png);  
}

.photoTwo{
    display: block;
    background-image: url(me2.png);
}

.photoThree{
    display: block;
    background-image: url(czapla.png);
}

.photoFour{
    display: block;
    background-image: url(herb.png);
    background-color: black;
}

.photoOne, .photoTwo, .photoThree, .photoFour{
    height: 100%;
    width: 100%;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    transition: transform .5s;
    position: absolute;
    filter: blur(5px);
    
}

.sign-on-photo{
    display: flex;
    justify-content: space-around;
    margin: 100% 0 100% 0;
    text-align: center;
    font-size: 40px;
    color: white;
    transition: transform .5s; 
    filter: blur(0);
}

.box-for-image:hover .photoOne{    
    transform: scale(1.2);
    filter: blur(0);
}

.box-for-image:hover .photoTwo{    
    transform: scale(1.2);
    filter: blur(0);
}

.box-for-image:hover .photoThree{    
    transform: scale(1.2);
    filter: blur(0);
}

.box-for-image:hover .photoFour{    
    transform: scale(1.2);
    filter: blur(0);
}

@keyframes move{
    0% {margin-left: -10px; opacity: 1;}
    25% {margin-left: 10px; opacity: 0.5}
    50% {margin-left: -10px; opacity: 0;}
    75% {margin-left: 10px; opacity: 0.5;}
    100% {margin-left: -10px; opacity: 1;}
}

@keyframes zoom{
    0% {transform: scale(0.6);}
    25% {transform: scale(1);}
    50% {transform: scale(0.6);}
    75% {transform: scale(1);}
    100% {transform: scale(0.6);}
}

.box-for-image:hover .sign-on-photo{
    animation: zoom 2s infinite;  
}

.iconsbar{
    padding: 20px 0 15px 0;
    margin: 0;
    bottom: 0;    
    width: 100%;
    height: 6%;
    text-align: center;
    position: fixed;
    list-style-type: none;   
      
}

.iconsbar li{
    display: inline-block;
    margin-left: 30px;
    margin-right: 60px;
    width: 50px;
    height: 50px;
}

.icons{
    width: 40px;
    height: 40px;
    padding: 5px;    
    border: 5px solid white;
    background-color: white;
    border-radius: 18px;
}

/*meserious.html*/
header h1{
    font-size: 50px;
    margin-left: 50px;
    margin-bottom: 5px;
}

header p{
    display: inline-block;    
    font-size: 20px;
    margin-left: 0;
    margin-top: 0;
}

header img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    vertical-align: middle;
}

.subject{
    display: flex;
    flex-direction: column;
}

.subject #kickgif{
    width: 25%;
    height: 58%;
    position: absolute;
    margin-left: 6%;
    margin-top: 3%;
}

.subject2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.subject-name{
    margin: 30px 0 0 50px;
    font-size: 30px;
}

.subject-content{
    margin-left: 50px;
    margin-right: 70px;
    font-size: 20px;
}

.subject-content-with-icons{
    margin-left: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row; 
    flex: 50%;  
    width: 60%;
}

.subject-content-with-icons p{
    margin: 15px;
}


.subject-icons{
    margin: 20px 20px 0 50px;
    width: 50px;
    height: 50px;
    vertical-align: center;
    background-color: white;
    border-radius: 15%;
    border: 0;
}

.site{
    display: flex;
    justify-content: space-around;
}

.page-side{
    width: 45%;
}

.page-side ul{
    padding-left: 55px;
    list-style-type: none;
}

.page-side li{
    font-size: 15px;
    margin-bottom: 25px;    
}

.page-side li p{
    font-size: 20px;
    margin-top: 0; 
    margin-bottom: 0;       
}

.page-side .italic{
    font-style: italic;
    margin-top: 5px;
}

/*contact page*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#mail, #content, #fullname{
    background-color:transparent;
    color: white;
    opacity: 0.8;
    width: 40%;
    font-size: 30px;
    margin: 10px; 
    padding: 10px;
    border-radius: 10px;
    border-color: white;   
}

#content{
    height: 40%;
    resize: none;   
}

#sendbutton{
    width: 100px;

}



